<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="mt-5">
    <tui-input formControlName="name" icon="tuiIconUser">
      Nombre <span class="tui-required"></span>
    </tui-input>
    <tui-field-error formControlName="name"></tui-field-error>
  </div>

  <div class="mt-5">
    <tui-input formControlName="familyName" icon="tuiIconUser">
      Apellido <span class="tui-required"></span>
    </tui-input>
    <tui-field-error formControlName="familyName"></tui-field-error>
  </div>

  <div class="mt-5">
    <tui-input formControlName="email" icon="tuiIconMail"> Email </tui-input>
    <tui-field-error formControlName="email"></tui-field-error>
  </div>

  <div class="mt-5">
    <tui-input-phone-international
      class="input"
      formControlName="phone"
      [countries]="countries"
      [countryIsoCode]="countryIsoCode"
    ></tui-input-phone-international>
    <tui-field-error formControlName="phone"></tui-field-error>
  </div>

  <div class="mt-5">
    <tui-select formControlName="program">
      Programa de interés
      <ng-template tuiDataList>
        <tui-data-list>
          <button
            tuiOption
            *ngFor="let program of programs"
            [value]="program.id"
          >
            {{ program.name }}
          </button>
        </tui-data-list>
      </ng-template>
    </tui-select>
    <tui-field-error formControlName="program"></tui-field-error>
  </div>

  <div class="mt-5">
    <tui-text-area formControlName="comment" [expandable]="true" [rows]="10">
      Comentario
    </tui-text-area>
  </div>

  <button
    tuiButton
    type="submit"
    appearance="primary"
    [disabled]="formData.invalid"
    class="mt-5"
  >
    Registrar
  </button>
</form>
