<div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-4">
  <article
    *ngFor="let news of data; let first = first"
    [ngClass]="{ 'col-span-2': first }"
  >
    <img
      [src]="'https://picsum.photos/id/' + news.id + 14 + '/600/600'"
      alt="Image placeholder"
      class="w-full h-60 object-center object-cover rounded-2xl shadow-2xl"
    />

    <span class="text-blue-400 block mt-6 mb-4 font-semibold">
      Ciencia y tecnología
    </span>

    <h3 class="line-clamp-1">{{ news.title }}</h3>

    <p class="line-clamp-3 mb-4" [innerHTML]="news.body"></p>

    <a
      tuiButton
      type="button"
      appearance="secondary"
      size="m"
      [routerLink]="['/', pathName.News, news.id]"
    >
      Ver noticia
    </a>
  </article>
</div>
